.catalog-page-container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    row-gap: 82px;
}

.catalog-carousel-title {
    font-family: 'Modern No. 20';
    font-size: 64px;
    margin: 0;
    margin-bottom: 32px;
    width: 100%;
    text-align: left;
}

.catalog-carousel-container {
    width: 100%;
    margin-top: 44px;
}

.catalog-carousel-container .catalog-carousel-item {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
}

.catalog-carousel-container .catalog-carousel-item img {
    width: 330px;
    height: 233px;
}

.catalog-carousel-container .catalog-carousel-item span {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
}

.catalog-carousel-container .slick-prev {
    left: -96px;
}

.catalog-carousel-container .slick-next {
    right: -76px;
}

.catalog-content {
    display: flex;
    width: 100%;
}

.catalog-content .filters {
    width: 290px;
    height: 100%;
    background-color: #EEEEEE;
    padding: 32px 20px;
    font-family: 'Montserrat';
}

.selected-filters {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid #9B9B9B;
    row-gap: 12px;
    column-gap: 12px;
}

.selected-filters .selected-filter {
    display: flex;
    background-color: #999999;
    color: white;
    padding: 4px 8px;
    width: fit-content;
    align-items: center;
}

.selected-filter p {
    margin: 0;
    margin-right: 4px;
}

.selected-filter img {
    cursor: pointer;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.catalog-controls p {
    margin: 0;
}

.catalog-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    font-family: 'Montserrat';
    font-size: 20px;
    width: calc(100% - 40px);
}

.catalog-sorting {
    display: flex;
    align-items: center;
    color: #333333;
    width: 300px;
    column-gap: 12px;
}

.catalog-sorting select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #333333;
    width: 100px;
    background-color: #FBFBFB;
    background-image: url('../../assets/icons/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: 97% center;
}

.catalog-items-count {
    display: flex;
    align-items: center;
    color: #999999;
}

.catalog-icons {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.catalog-icons img {
    cursor: pointer;
}

.catalog-items {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 330px 330px 330px;
    padding-left: 20px;
}

.pagination {
    display: flex;
    column-gap: 8px;
    width: 400px;
    overflow: hidden;
}