button {
    padding: 23px 60px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat';
    box-sizing: border-box;
    cursor: pointer;
}

.rounded {
    border-radius: 60px;
}

.button-bordered.disabled {
    background-color: white;
    color: #6C6C6C;
    border: 2px solid #6C6C6C;
}

.button-bordered.disabled:hover {
    background-color: white;
    color: #6C6C6C;
    cursor: not-allowed;
}

.button-filled {
    background-color: #CD5341;
}

.button-bordered {
    background-color: white;
    border: 2px solid #CD5341;
    color: #CD5341;
    transition: background-color 0.5s, color 0.5s;
}

.button-bordered:hover {
    background-color: #CD5341;
    color: white;
}