.mobile-bottom-menu {
    display: flex;
    position: fixed;
    align-items: center;
    column-gap: 44px;
    background-color: white;
    padding: 13px 27px;
    width: calc(100% - 54px);
    bottom: 0;
    z-index: 1;
    filter: drop-shadow(0px -4px 30px rgba(0, 0, 0, 0.2));
    box-sizing: content-box;
    border-top: 1px solid #EEEEEE;
}

@media only screen and (max-width: 768px) {
    .mobile-bottom-menu {
        justify-content: space-between;
    }
}