.cascade-menu-container {
    position: absolute;
    width: 1380px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    font-size: 20px;
    font-family: 'Montserrat';
    z-index: 10;
    top: 60px;
    left: -68px;
    column-gap: 84px;
    row-gap: 20px;
    font-weight: 600;
    padding: 0 60px;
}

.cascade-menu-container .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 28px 0;
    column-gap: 16px;
    border-bottom: 1px solid rgba(155, 155, 155, 0.2);
    cursor: pointer;
    transition: color 0.5s;
}

.cascade-menu-container .item.no-border {
    border-bottom: none;
}

.cascade-menu-container .item p:hover {
    color: #D16757;
}