.custom-ring-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    background-color: #EEEEEE;
    width: 100%;
}

.create-custom-ring-container {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 71px;
    padding: 120px 270px 286px 482px;
    font-family: 'Montserrat';
    width: 1440px;
}

.create-custom-ring-container .ring-container {
    position: absolute;
    left: 410px;
    bottom: 115px;
    backdrop-filter: blur(20px);
}

.create-custom-ring-container .ring-container .ring-text .ring-title,
.create-custom-ring-container .ring-container .ring-text .ring-price {
    text-align: left;
    font-size: 18px;
}

.create-custom-ring-container .ring-container .ring-text .ring-price {
    font-size: 24px;
    font-weight: 700;
}

.picture-container {
    display: flex;
    justify-content: flex-end;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-container .info-title {
    font-family: 'Modern No. 20';
    max-width: 468px;
    text-align: left;
    margin: 0;
    margin-bottom: 32px;
    font-size: 96px;
    font-weight: 500;
}

.info-container .info-description {
    max-width: 631px;
    text-align: left;
    margin: 0;
    margin-bottom: 44px;
    font-size: 24px;
    font-weight: 300;
    line-height: 160%;
}

@media only screen and (max-width: 1600px) {
    .create-custom-ring-container {
        padding: 120px 225px 286px 350px;
    }

    .create-custom-ring-container .ring-container {
        left: 165px;
        bottom: 210px;
    }
}


@media only screen and (max-width: 1400px) {
    .create-custom-ring-container {
        padding: 120px 200px 230px;
    }

    .create-custom-ring-container .ring-container {
        left: 160px;
        bottom: 305px;
    }

    .create-custom-ring-container .ring-container img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 1205px) {
    .create-custom-ring-container {
        padding: 120px 100px 50px;
    }

    .create-custom-ring-container .ring-container {
        left: 60px;
        bottom: 25px;
    }

    .create-custom-ring-container .ring-container img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 1100px) {
    .create-custom-ring-container {
        padding: 120px 20px;
    }

    .create-custom-ring-container .info-container .info-title {
        font-size: 64px;
        width: 100%;
    }

    .create-custom-ring-container .ring-container {
        left: 10px;
        bottom: 100px;
    }

    .create-custom-ring-container .ring-container img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 900px) {
    .create-custom-ring-container .info-container .info-title {
        font-size: 46px;
    }

    .info-container .info-description {
        font-size: 20px;
    }

    .create-custom-ring-container .button-bordered {
        font-size: 16px;
    }
}

@media only screen and (max-width: 900px) {
    .picture-container img {
        width: 365px;
        height: 488px;
    }

    .create-custom-ring-container .ring-container {
        left: 10px;
        bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .create-custom-ring-container {
        padding: 44px 16px;
        flex-direction: column-reverse;
        column-gap: 0;
        row-gap: 44px;
    }

    .create-custom-ring-container .info-container {
        justify-content: center;
        align-items: center;
    }

    .create-custom-ring-container .info-container p,
    .create-custom-ring-container .info-container span {
        text-align: center;
    }

    .create-custom-ring-container .info-container .button-bordered {
        width: 100%;
        font-size: 18px;
    }

    .picture-container img {
        width: calc(100% - 73px);
        height: 100%;
    }

    .create-custom-ring-container .ring-container {
        left: 30px;
        bottom: 20px;
        backdrop-filter: blur(10px);
    }
}
