.feedback-container {
    display: flex;
    background-color: #EEEEEE;
    width: 100%;
    justify-content: center;
}

.feedback {
    display: flex;
    flex-direction: column;
    width: 1572px;
    align-items: center;
    padding: 120px 174px;
}

.feedback-title {
    font-family: 'Modern No. 20';
    font-size: 64px;
    width: 668px;
    text-align: center;
}

.feedback-container .carousel-container {
    position: static;
    max-width: 1572px;
    min-height: 501px;
    margin-bottom: 44px;
}

.feedback-container .carousel-container .slick-prev {
    background-color: #EEEEEE;
    left: -96px;
}

.feedback-container .carousel-container .slick-next {
    right: -80px;
    background-color: #EEEEEE;
}

.feedback-container .carousel-container .slick-slide > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-carousel-item {
    display: flex !important;
    flex-direction: column;
    padding: 40px 20px;
    background-color: #FBFBFB;
    max-width: 330px;
    min-height: 420px;
    position: relative;
}

.reversed {
    flex-direction: column-reverse;
}

.feedback-carousel-item .feedback-info {
    display: flex;
    flex-direction: column;
}

.feedback-carousel-item .feedback-image {
    position: absolute;
    bottom: 40px;
    width: 100%;
}

.feedback-carousel-item .reversed-image {
    top: 40px;
}

.feedback-carousel-item p {
    margin: 0;
}

.feedback-carousel-item .author-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.feedback-carousel-item .author-info .author-name {
    font-family: 'Modern No. 20';
    font-size: 24px;
}

.feedback-carousel-item .author-info .stars {
    display: flex;
}

.feedback-carousel-item .feedback-item,
.feedback-carousel-item .feedback-comment {
    font-family: 'Montserrat';
    font-size: 20px;
    width: 290px;
    text-align: left;
    margin-bottom: 10px;
}

.feedback-carousel-item .feedback-comment {
    font-size: 18px;
    margin-bottom: 36px;
}

@media only screen and (max-width: 1920px) {
    .feedback {
        padding: 120px 110px;
        width: 1300px;
    }

    .feedback .carousel-container {
        max-width: 1200px;
    }

    .feedback-container .carousel-container .feedback-carousel-item {
        max-width: 250px;
    }

    .feedback-container .carousel-container .feedback-carousel-item .feedback-item,
    .feedback-container .carousel-container .feedback-carousel-item .feedback-comment {
        width: 100%;
    }

    .feedback-container .carousel-container .feedback-carousel-item .feedback-image img {
        width: calc(100% - 40px);
        height: 200px;
    }

    .feedback-container .carousel-container .slick-prev {
        left: -77px;
    }
}

@media only screen and (max-width: 1700px) {
    .feedback {
        padding: 120px 64px;
    }

    .feedback-container .carousel-container .slick-prev {
        left: -55px;
        width: 50px;
        height: 50px;
    }
    
    .feedback-container .carousel-container .slick-next {
        right: -55px;
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 1366px) {
    .feedback {
        padding: 120px 40px;
    }

    .feedback .carousel-container {
        max-width: 800px;
    }
}

@media only screen and (max-width: 900px) {
    .feedback {
        width: 100%;
        padding: 120px 0;
    }

    .feedback .carousel-container {
        max-width: calc(100% - 200px);
    }
}

@media only screen and (max-width: 768px) {
    .feedback .feedback-title {
        width: calc(100% - 30px);
        margin: 0;
        padding: 30px 0;
        font-size: 48px;
    }
}

@media only screen and (max-width: 390px) {
    .feedback {
        padding: 44px 0;
    }

    .feedback .feedback-title {
        font-size: 32px;
        padding: 0;
        margin-bottom: 24px;
    }

    .feedback-container .carousel-container {
        width: 100%;
        max-width: 100%;
        margin-bottom: 64px;
        position: relative;
        top: auto;
        right: auto;
    }

    .feedback-container .carousel-container .feedback-carousel-item .feedback-image {
        width: calc(100% - 40px);
    }

    .feedback-container .carousel-container .feedback-carousel-item .feedback-image img {
        width: 100%;
    }

    .feedback-container .carousel-container .slick-list {
        padding: 0 20% 0 12px !important;
    }

    .feedback-container .carousel-container .slick-slide > div {
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 12px;
    }

    .feedback-container .button-bordered {
        width: calc(100% - 32px);
        padding: 17px 0;
    }

    .gradient {
        display: block;
        background: linear-gradient(270deg, #FBFBFB 50%, rgba(251, 251, 251, 0) 100%);
        height: 100%;
        width: 64px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

@media only screen and (max-width: 360px) {
    .feedback-carousel-item {
        padding: 40px 10px;
    }
}