.instagram-section-container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin: 0 149px 90px;
    width: 1620px;
}

.instagram-section-container .title {
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-family: 'Modern No. 20';
    font-size: 64px;
    margin-left: 120px;
    width: 100%;
}

.instagram-section-container .title p {
    margin: 0;
}

.instagram-section-container .title .follow-text {
    font-family: 'Montserrat';
    font-size: 36px;
    color: #CD5341;
}

.instagram-section-container .carousel-container {
    max-width: 1560px;
    position: static;
}

.instagram-section-container .carousel-container .slider-item {
    margin: 0 11px;
}

.instagram-section-container .carousel-container .slick-prev,
.instagram-section-container .carousel-container .slick-next {
    background: none;
}

.instagram-section-container .carousel-container .slick-prev {
    left: -20px;
}

.instagram-section-container .carousel-container .slick-prev:hover,
.instagram-section-container .carousel-container .slick-next:hover {
    background: white;
}

@media only screen and (max-width: 1920px) {
    .instagram-section-container {
        margin: 0;
        margin-bottom: 90px;
        width: 1200px;
    }

    .instagram-section-container .carousel-container {
        max-width: 1250px;
    }

    .instagram-section-container .carousel-container .slider-item img {
        width: 200px;
        height: 180px;
    }

    .instagram-section-container .carousel-container .slick-prev {
        left: -67px;
    }

    .instagram-section-container .carousel-container .slick-next {
        right: -40px;
    }

    .instagram-section-container {
        align-items: center;
    }
}

@media only screen and (max-width: 1600px) {
    .instagram-section-container {
        width: 1000px;
    }
}

@media only screen and (max-width: 1366px) {
    .instagram-section-container .carousel-container {
        max-width: 800px;
    }
}

@media only screen and (max-width: 1100px) {
    .instagram-section-container .title {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1100px) {
    .instagram-section-container {
        width: 100%;
    }

    .instagram-section-container .title {
        margin-left: 0;
        font-size: 50px;
        justify-content: center;
    }
}

@media only screen and (max-width: 900px) {
    .instagram-section-container .carousel-container {
        max-width: calc(100% - 200px);
    }

    .instagram-section-container .carousel-container .slider-item {
        margin: 0;
    }

    .instagram-section-container .title {
        font-size: 40px;
    }

    .instagram-section-container .title .follow-text {
        font-size: 30px;
    }

    .instagram-section-container .carousel-container .slick-prev {
        left: -40px;
    }
}

@media only screen and (max-width: 900px) {
    .instagram-section-container .carousel-container .slider-item {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .instagram-section-container .title {
        flex-direction: column;
    }
}

@media only screen and (max-width: 390px) {
    .instagram-section-container {
        margin-bottom: 64px;
        row-gap: 24px;
    }

    .instagram-section-container .carousel-container {
        width: 100%;
        max-width: 100%;
        position: relative;
        top: auto;
        right: auto;
    }

    .instagram-section-container .carousel-container .slick-list {
        padding: 0;
        padding-left: 30%;
        padding-right: 20%;
    }

    .instagram-section-container .carousel-container .slick-slide {
        width: 180px !important;
        padding-left: 12px;
    }

    .instagram-section-container .carousel-container .slider-item {
        width: calc(100% - 12px);
    }

    .instagram-section-container .carousel-container .slider-item img {
        width: 100%;
        height: 100%;
    }

    .instagram-section-container .title p {
        font-size: 32px;
    }

    .instagram-section-container .title .follow-text {
        font-size: 18px;
    }

    .gradient {
        display: block;
        background: linear-gradient(270deg, #FBFBFB 50%, rgba(251, 251, 251, 0) 100%);
        height: 100%;
        width: 44px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .gradient.left {
        left: -30px;
        width: 74px;
        height: 176px;
        background: linear-gradient(90deg,  #FBFBFB 65%, rgba(251, 251, 251, 0.1) 100%);
    }

}

@media only screen and (max-width: 390px) {
    .instagram-section-container .carousel-container .slick-slide {
        width: 170px !important;
    }
}

@media only screen and (max-width: 365px) {
    .instagram-section-container .carousel-container .slick-slide {
        width: 145px !important;
    }
}