.instagram-section-container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin: 0 149px 90px;
    width: 1620px;
}

.instagram-section-container .title {
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-family: 'Modern No. 20';
    font-size: 64px;
    margin-left: 120px;
    width: 100%;
}

.instagram-section-container .title p {
    margin: 0;
}

.instagram-section-container .title .follow-text {
    font-family: 'Montserrat';
    font-size: 36px;
    color: #CD5341;
}

.instagram-section-container .carousel-container {
    max-width: 1560px;
    position: static;
}

.instagram-section-container .carousel-container .slider-item {
    margin: 0 11px;
}

.instagram-section-container .carousel-container .slick-prev,
.instagram-section-container .carousel-container .slick-next {
    background: none;
}

.instagram-section-container .carousel-container .slick-prev {
    left: -20px;
}

.instagram-section-container .carousel-container .slick-prev:hover,
.instagram-section-container .carousel-container .slick-next:hover {
    background: white;
}

@media only screen and (max-width: 1920px) {
    .instagram-section-container {
        margin: 0;
        margin-bottom: 90px;
        width: 1200px;
    }

    .instagram-section-container .carousel-container {
        max-width: 1250px;
    }

    .instagram-section-container .carousel-container .slider-item img {
        width: 200px;
        height: 180px;
    }

    .instagram-section-container .carousel-container .slick-prev {
        left: -67px;
    }

    .instagram-section-container .carousel-container .slick-next {
        right: -40px;
    }

    .instagram-section-container {
        align-items: center;
    }
}

@media only screen and (max-width: 1600px) {
    .instagram-section-container {
        width: 1000px;
    }
}

@media only screen and (max-width: 1366px) {
    .instagram-section-container {
        width: 1000px;
    }

    .instagram-section-container .carousel-container {
        max-width: 800px;
    }
}