.more-collections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 270px;
}

.more-collections-container p {
    margin: 0;
}

.more-collections-container .more-collections-title {
    font-family: 'Modern No. 20';
    font-size: 64px;
    margin-bottom: 32px;
}

.more-collections-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 32px;
    column-gap: 20px;
    margin-bottom: 44px;
}

.more-collections-item p {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 1000;
    margin-top: 24px;
    text-align: left;
}

.more-collection-item-picture {
    overflow: hidden;
    width: 447px;
    height: 244px;
}

.more-collections-item img {
    transform: scale(1);
}

.more-collections-item img:hover {
    transform: scale(1.5);
    transition: transform .5s ease;
}

.more-collections-item p:hover {
    color: #D16757;
}

@media only screen and (max-width: 1920px) {
    .more-collections-container {
        padding: 120px 90px;
        max-width: 1400px;
    }
}

@media only screen and (max-width: 1600px) {
    .more-collections-container {
        padding: 120px 40px;
    }
}

@media only screen and (max-width: 1500px) {
    .more-collections-container {
        padding: 120px 20px;
        max-width: 1200px;
    }

    .more-collections-container .more-collections-items .more-collection-item-picture,
    .more-collections-container .more-collections-items .more-collections-item img {
        width: 340px;
        height: 200px;
    }
}

@media only screen and (max-width: 1100px) {
    .more-collections-container {
        max-width: 100%;
    }

    .more-collections-container .more-collections-items .more-collections-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .more-collections-container .more-collections-items .more-collections-item p {
        font-size: 20px;
    }

    .more-collections-container .more-collections-items .more-collection-item-picture,
    .more-collections-container .more-collections-items .more-collections-item img {
        width: 240px;
        height: 140px;
    }
}

@media only screen and (max-width: 900px) {
    .more-collections-container {
        padding: 120px 0;
    }
}