.top-selling-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    padding: 0 174px;
}

.top-selling-title {
    font-family: 'Modern No. 20';
    font-size: 64px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 32px;
}

.top-selling-container .tabs {
    margin-bottom: 24px;
}

.top-selling-container .top-selling-carousel-container {
    position: static;
    max-width: 1570px;
    width: 100%;
    height: 100%;
    margin-bottom: 44px;
}

.top-selling-container .ring-container {
    position: relative;
    width: 355px !important;
    height: 551px;
    padding-left: 25px;
}

.top-selling-container .ring-container img:not(img[alt="heart"]) {
    background-color: #EEEEEE;
    padding: 48px 0;
}

.top-selling-container .ring-container img[alt="heart"] {
    padding: 0;
    cursor: pointer;
}

.top-selling-carousel-container .slick-prev {
    left: -57px;
}

.top-selling-carousel-container .slick-next {
    right: -57px;
}

.top-selling-carousel-container .ring-text .ring-title,
.top-selling-carousel-container .ring-text .ring-price {
    text-align: left;
}

.top-selling-carousel-container .ring-text .ring-price {
    margin: 0;
}

.top-selling-carousel-container .ring-container .heart-icon {
    position: absolute;
    top: 12px;
    right: -6px;
}

@media only screen and (max-width: 1920px) {
    .top-selling-container {
        padding: 0 110px;
    }
}

@media only screen and (max-width: 1800px) {
    .top-selling-container {
        max-width: 1400px;
    }

    .top-selling-container .top-selling-carousel-container {
        max-width: 1200px;
    }

    .top-selling-container .ring-container {
        width: 200px !important;
        height: 350px;
    }

    .top-selling-container .ring-container img[alt="ring"] {
        width: 200px;
        height: 150px;
    }

    .top-selling-container .top-selling-carousel-container .slick-next {
        right: -10px;
    }
}

@media only screen and (max-width: 1700px) {
    .top-selling-container {
        padding: 0 65px;
    }

    .top-selling-container .top-selling-carousel-container {
        max-width: 1080px;
    }

    .top-selling-carousel-container .slick-slide>div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-selling-container .ring-container {
        width: 200px !important;
        height: 350px;
    }

    .top-selling-container .ring-container img[alt="ring"] {
        width: 200px;
        height: 150px;
    }

    .top-selling-container .top-selling-carousel-container .slick-next {
        right: -64px;
    }

    .top-selling-container .top-selling-carousel-container .slick-prev {
        left: -40px;
    }
}

@media only screen and (max-width: 1700px) {
    .top-selling-container .top-selling-carousel-container {
        max-width: 700px;
    }
}

@media only screen and (max-width: 1700px) {
    .top-selling-container {
        padding: 0;
        width: 100%;
    }

    .top-selling-container .top-selling-carousel-container {
        max-width: calc(100% - 200px);
    }
}


@media only screen and (max-width: 768px) {
    .top-selling-container {
        margin-top: 200px;
    }

    .top-selling-container .ring-container {
        width: 300px !important;
        height: 450px;
    }

    .top-selling-container .ring-container img[alt="ring"] {
        width: 300px;
        height: 250px;
    }
}

@media only screen and (max-width: 530px) {
    .top-selling-container {
        margin-top: 200px;
    }

    .top-selling-container .ring-container {
        width: 200px !important;
        height: 350px;
        padding-left: 0;
    }

    .top-selling-container .ring-container img[alt="ring"] {
        width: 200px;
        height: 150px;
    }

    .top-selling-container .tabs {
        font-size: 20px;
    }

    .top-selling-container .top-selling-carousel-container .ring-container .ring-text {
        font-size: 14px;
        width: calc(100% - 50px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 390px) {
    .top-selling-container {
        margin-top: 44px;
    }

    .gradient {
        display: block;
        background: linear-gradient(270deg, #FBFBFB 50%, rgba(251, 251, 251, 0) 100%);
        height: 100%;
        width: 64px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .top-selling-container .top-selling-carousel-container {
        position: relative;
        max-width: 100%;
        margin-bottom: 76px;
    }

    .top-selling-container .top-selling-title {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .top-selling-container .ring-container {
        width: 214px !important;
        height: 372px;
        padding-left: 0;
    }

    .top-selling-container .ring-container img[alt="ring"] {
        width: 214px;
        height: 292px;
    }

    .top-selling-container .ring-container img:not(img[alt="heart"]) {
        padding: 0;
    }

    .top-selling-container .tabs {
        font-size: 16px;
        column-gap: 24px;
    }

    .top-selling-container .top-selling-carousel-container .ring-container .ring-text {
        font-size: 14px;
        width: 100%;
    }

    .top-selling-container .top-selling-carousel-container .ring-container .ring-text .ring-title {
        width: 150px;
        margin: 0;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .top-selling-container .top-selling-carousel-container .ring-container .ring-text .ring-price {
        font-size: 18px;
        font-weight: 600;
    }

    .top-selling-container .button-bordered {
        width: calc(100% - 32px);
        padding: 17px 0;
    }

    .top-selling-container .top-selling-carousel-container .slick-list {
        padding: 0 20% 0 0 !important;
    }

    .top-selling-carousel-container .slick-slide.slick-active {
        width: 214px !important;
    }

    .top-selling-carousel-container .slick-slide.slick-active>div {
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 16px;
    }

    .top-selling-carousel-container .slick-slide.slick-active+.slick-slide>div .gradient {
        display: block;
    }
}

@media only screen and (max-width: 350px) {
    .top-selling-container .ring-container {
        width: 170px !important;
    }

    .top-selling-container .ring-container img[alt="ring"] {
        width: 170px;
        height: 240px;
    }

    .top-selling-carousel-container .slick-slide.slick-active>div {
        justify-content: center;
        align-items: center;
    }
}