.top-selling-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    padding: 0 174px;
}

.top-selling-title {
    font-family: 'Modern No. 20';
    font-size: 64px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 32px;
}

.top-selling-container .tabs {
    margin-bottom: 24px;
}

.top-selling-container .top-selling-carousel-container {
    position: static;
    max-width: 1570px;
    width: 100%;
    height: 100%;
    margin-bottom: 44px;
}

.top-selling-container .ring-container {
    position: relative;
    width: 330px !important;
    height: 551px;
    padding-left: 25px;
}

.top-selling-container .ring-container img:not(img[alt="heart"]) {
    background-color: #EEEEEE;
    padding: 48px 0;
}

.top-selling-container .ring-container img[alt="heart"] {
    padding: 0;
    cursor: pointer;
}

.top-selling-carousel-container .slick-prev {
    left: -57px;
}

.top-selling-carousel-container .slick-next {
    right: -57px;
}

.top-selling-carousel-container .ring-text .ring-title,
.top-selling-carousel-container .ring-text .ring-price {
    text-align: left;
}

.top-selling-carousel-container .ring-text .ring-price {
    margin: 0;
}

.top-selling-carousel-container .ring-container .heart-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

@media only screen and (max-width: 1920px) {
    .top-selling-container {
        padding: 0 110px;
    }
}

@media only screen and (max-width: 1800px) {
    .top-selling-container {
        max-width: 1400px;
    }

    .top-selling-container .top-selling-carousel-container {
        max-width: 1200px;
    }

    .top-selling-container .ring-container {
        width: 200px !important;
        height: 350px;
    }

    .top-selling-container .ring-container img[alt="ring"] {
        width: 200px;
        height: 150px;
    }

    .top-selling-container .top-selling-carousel-container .slick-next {
        right: -10px;
    }
}

@media only screen and (max-width: 1700px) {
    .top-selling-container {
        padding: 0 65px;
    }

    .top-selling-container .top-selling-carousel-container {
        max-width: 1080px;
    }

    .top-selling-carousel-container .slick-slide > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-selling-container .ring-container {
        width: 200px !important;
        height: 350px;
    }

    .top-selling-container .ring-container img[alt="ring"] {
        width: 200px;
        height: 150px;
    }

    .top-selling-container .top-selling-carousel-container .slick-next {
        right: -64px;
    }

    .top-selling-container .top-selling-carousel-container .slick-prev {
        left: -40px;
    }
}

@media only screen and (max-width: 1700px) {
    .top-selling-container .top-selling-carousel-container {
        max-width: 700px;
    }
}

@media only screen and (max-width: 1700px) {
    .top-selling-container {
        padding: 0;
        width: 100%;
    }

    .top-selling-container .top-selling-carousel-container {
        max-width: calc(100% - 200px);
    }
}
