.shadowed {
    background-color: #333333;
    opacity: 0.5;
}

.hello-content {
    display: flex;
    justify-content: space-between;
    max-width: 1380px;
    padding-left: 65px;
    padding-top: 64px;
    position: relative;
    margin-bottom: 330px;
}

.jewellery-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 624px;
    margin-right: 195px;
}

.jewellery-text p {
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
    font-size: 110px;
    color: #333333;
    width: 500px;
    font-family: 'Modern No. 20';
}

.carousel-container {
    max-width: 570px;
    max-height: 490px;
    position: absolute;
    top: 380px;
    right: 280px;
}

.carousel-container .ring-container {
    box-sizing: border-box;
    width: 380px !important;
    height: 490px;
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ring-container img {
    padding: 32px 16px 0;
}

.carousel-container .ring-container .ring-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ring-text .ring-price {
    font-size: 24px;
    font-weight: 1000;
}

.slick-dots li {
    width: 6px;
    height: 6px;
}

.slick-dots li button:before {
    top: 1px;
}

.slick-dots .slick-active+li button::before {
    font-size: 9px;
    top: 2px;
}

.slick-dots li.slick-active button::before {
    font-size: 15px;
    color: #D16757;
    top: 1px;
    opacity: 1;
}

.carousel-container .no-blur {
    background: none;
}

@media only screen and (max-width: 1920px) {
    .hello-content .carousel-container {
        top: 270px;
        right: 80px;
    }
}

@media only screen and (max-width: 1800px) {
    .hello-content {
        max-width: 1000px;
    }

    .banner-image {
        width: 663px;
        height: 311px;
    }
}

@media only screen and (max-width: 1600px) {
    .hello-content {
        max-width: 1000px;
    }

    .banner-image {
        width: 463px;
        height: 250px;
    }

    .hello-content .carousel-container {
        top: 232px;
        right: -15px;
    }
}

@media only screen and (max-width: 1366px) {
    .hello-content {
        max-width: 1000px;
        margin-bottom: 170px;
    }

    .banner-image {
        width: 363px;
        height: 200px;
    }

    .hello-content .carousel-container {
        top: 190px;
        right: 75px;
        max-width: 370px;
    }

    .hello-content .carousel-container .ring-container {
        width: 250px !important;
        height: 300px;
    }

    .hello-content .carousel-container .ring-container img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 1200px) {
    .banner-image {
        width: 263px;
        height: 150px;
    }
}

@media only screen and (max-width: 1100px) {
    .hello-content {
        max-width: 100%;
    }

    .hello-content .jewellery-text {
        margin-right: 0;
    }

    .hello-content .jewellery-text p {
        font-size: 64px;
    }

    .hello-content .jewellery-text,
    .hello-content .jewellery-text p {
        width: 300px;
    }

    .hello-content .carousel-container {
        top: 240px;
        right: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .hello-content {
        max-width: 100%;
    }

    .hello-content .jewellery-text {
        margin-right: 0;
    }

    .banner-image {
        width: 463px;
        height: 250px;
    }
}

@media only screen and (max-width: 900px) {
    .hello-content {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .hello-content .jewellery-text,
    .hello-content .jewellery-text p {
        width: 200px;
        margin-right: 10px;
    }

    .hello-content .jewellery-text p {
        font-size: 44px;
        margin-right: 0;
    }

    .hello-content .button-bordered {
        font-size: 12px;
    }
}
