.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-content,
.bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4px 0;
    background-color: #CD5341;
    column-gap: 64px;
}

.bottom-content {
    background-color: #333333;
    padding: 33px 0;
}

.top-content a,
.bottom-content a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.bottom-content a {
    text-transform: uppercase;
}

.bottom-content .colored-link {
    color: #CD5341;
}

.icons {
    display: flex;
    align-items: center;
    column-gap: 27px;
    margin-left: 64px;
}

.icons img {
    cursor: pointer;
}

.bottom-content a {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 18px;
}

.bottom-content a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -6px;
    left: 0;
    background-color: #CD5341;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.bottom-content a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo {
    cursor: pointer;
}

@media only screen and (max-width: 1366px) {
    .bottom-content {
        padding: 33px 0px;
        column-gap: 34px;
    }
}